semantic.cache
*.tmp
*.old
src/ontology/mirror/*.owl
src/ontology/mirror/*.tmp
src/ontology/seed.txt
src/ontology/imports/*terms_combined.txt
src/ontology/build/
src/ontology/extensions/go-plus*
src/ontology/go.obo
src/ontology/go.owl
src/ontology/go.owl
src/ontology/go.json
src/ontology/go.json.gz
src/ontology/go-pre.owl
src/ontology/bio-chebi.owl
src/ontology/GO.xrf_abbs
src/ontology/seed.owl
src/ontology/reasoned.owl
src/ontology/subsets/*.obo
src/ontology/subsets/*.owl
src/ontology/subsets/*.json
src/ontology/subsets/*.tsv
src/ontology/change-report.txt
src/ontology/disjoint_in_taxon.owl
src/ontology/enhanced.owl
src/ontology/go-edit.obo-check
src/ontology/go-lastrelease.owl
src/ontology/reports/*.tsv
src/ontology/reports/*.csv
src/ontology/go_inferences*
target/

# Blipkit
*.qlf

# Emacs autosave files
*~

# Mac specific weirdness
.DS_Store
src/.DS_Store
src/ontology/imports/catalog-v001.xml
