## REMEMBER TO SET UP YOUR GITHUB REPO FOR TRAVIS
## Go to: https://travis-ci.org/obophenotype for details
language: java
jdk:
  - oraclejdk8

# https://stackoverflow.com/questions/30496189/how-to-use-python-3-as-a-build-script-in-non-python-travis-configuration
before_install:
  - sudo apt-get update
  - sudo apt-get install python3
before_script:
  - python3 --version
  - (cd src/design_patterns && pyvenv venv && source venv/bin/activate && export PYTHONPATH=.:$PYTHONPATH && make test)
  - mkdir -p bin
  - export PATH=$PATH:$PWD/bin
  - wget http://build.berkeleybop.org/userContent/owltools/owltools -O bin/owltools
  - wget http://build.berkeleybop.org/userContent/owltools/ontology-release-runner -O bin/ontology-release-runner
  - wget http://build.berkeleybop.org/userContent/owltools/owltools-runner-all.jar -O bin/owltools-runner-all.jar
  - wget http://build.berkeleybop.org/userContent/owltools/owltools-oort-all.jar -O bin/owltools-oort-all.jar
  - wget http://build.berkeleybop.org/job/robot/lastSuccessfulBuild/artifact/bin/robot -O bin/robot
  - wget http://build.berkeleybop.org/job/robot/lastSuccessfulBuild/artifact/bin/robot.jar -O bin/robot.jar
  - wget --no-check-certificate https://raw.githubusercontent.com/cmungall/pattern2owl/master/apply-pattern.py -O bin/apply-pattern.py
  - wget https://raw.githubusercontent.com/dosumis/dead_simple_owl_design_patterns/master/spec/DOSDP_schema_full.yaml
  - chmod +x bin/*

# command to run tests
script: cd src/ontology && make travis_test

#after_success:
#  coveralls

# whitelist
#branches:
#  only:
#    - master
#    - test-travis

### UNCOMMENT THIS AND ADD YOUR DETAILS:
#notifications:
#  email:
#    - YOURNAME@YOU.ORG
