name: Update status reports

on:
  workflow_dispatch:
  schedule:
  - cron: '15 5 * * *'

jobs:
  update:

    runs-on: ubuntu-latest
    container: obolibrary/odkfull:${{ vars.ODK_VERSION }}

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      
    - name: Work around https://github.com/peter-evans/create-pull-request/issues/1170
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      
    - name: Update status diffs
      run: cd src/ontology && make ../../docs/status/go-owl-diff.md ../../docs/status/go-plus-owl-diff.md && cd ../..

    - name: Commit diffs
      run: |
          git config --global user.name 'Ontobot'
          git config --global user.email 'ontobot@users.noreply.github.com'
          # Be careful and only change intended files
          git add ../../docs/status/go-owl-diff.md
          git add ../../docs/status/go-plus-owl-diff.md
          git commit -m "Automated status diffs"
          git push
